@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page-central-container {
    max-width: 110rem;
    width: 100%;
    /*height -> 100vh so i can use  justify-content: space-between;
     -> footer is down and header up and the content is in center */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
}

.header {
    max-width: 110rem;
    width: 100%;
    display: flex;
    justify-content: space-between;


    margin-top: 2rem;
}

.header .nav-bar {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    padding: 1rem 2rem;
}

.header .nav-bar li {
    color: var(--dark-gray);
}

.header .nav-bar li a {
    text-decoration: none;
    padding: 1rem 2rem;
    background: var(--orange-color);
    border-radius: 0.5rem;
    color: var(--dark-gray);
    margin-left: 2rem;
}

.header .app-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: var(--orange-color);
    padding-left: 2rem;
}

.main-page-form-and-items-container {
    max-width: 110rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

    padding: 0 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.space {
    max-height: 15rem;
    height: 100%;
}

.item-from {
    max-width: 30rem;
    width: 100%;
    max-height: 50rem;
    height: 100%;
    border-bottom: 1px solid var(--gray-color);
}

.item-field {
    max-width: 30rem;
    width: 100%;
}

.item {
    margin-top: 1.6rem;
}

.add-item-btn{
    margin-bottom: 2rem;
}

.items-container {
    max-width: 50rem;
    width: 100%;
    max-height: 50rem;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    background:    #ebf5fb;
    color: var(--dark-gray);
    margin-left: 2rem;
    overflow-scrolling: auto;
}

.table-head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 1.6rem;
    padding: 1.6rem;
    background: var(--orange-color);
}

.table-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    background: var(--white-color);
    border-radius: 0.5rem;
    /*so the text wraps down*/
    overflow-wrap: break-word;
}

.table-row:hover{
    background:  #7fb3d5;
}


.footer {
    background: #ebf5fb;
    width: 100%;
    max-height: 6rem;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 2rem 2rem;
    color: var(--dark-gray);
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 0.5rem;
}

.footer h3 {
    margin-right: 1rem;
}

.contact-icons {
    display: flex;
    align-items: center;

    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
}


.github {
    display: block;
    color: #d35400;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.linkedin {
    display: block;

    color: var(--dark-gray);
    text-decoration: none;
    margin-right: 0.5rem;
    border-bottom: 1px solid transparent;
}

.linkedin-link{
    display: block;
    padding: 0.5rem 0;
}

.github-link{

    display: block;
    padding: 0.5rem 0;
}

.github:hover {
    border-bottom: 1px solid var(--dark-gray);
}

.linkedin:hover {
    border-bottom: 1px solid var(--orange-color);
}

span {
    font-size: 1.6rem;
    color: var(--orange-color);
}





































